/* Global Styles */
/* Fix the height jump */
html {
  overflow-y: scroll;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}
