.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 300px;
}

@media (min-width: 760px) {
  .wrapper {
    width: 700px;
    padding: 0 20px;
  }
}

@media (min-width: 1240px) {
  .wrapper {
    width: 990px;
  }
}
